html, body, #map {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
    background-color: #eeeeee;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

header {
    padding-left: 10px;
    display: block;
    width: 100%;
}

#histo{
    float: left;
    width: 32%;
}

svg.chart {
    width: 30%;
}

#map {
    float: left;
    width: 60%;
}

.area {
    stroke: #f7f7f7;
    stroke-width: 1px;
    fill: #f7f7f7;
}

#info {
    /*position: absolute;*/
    visibility: hidden;
    z-index: 10;
}

#info.active {
    visibility: visible;
    background-color: #eee;
    opacity: 0.9;
}   

p.red {
    color: #b4001f;

}     

p.blue {
    color: #0560a0;
}