body{
    margin:0;
    padding:0;
}

#app{
        width: 100%;
        height: 100%;
        margin: 0;
        -webkit-overflow-scrolling: touch;
        font-family: 'Open Sans', sans-serif;
    }

section{
        width: 100%;
        height: 696px; 
        position: relative;
    }

section:first-child{
        /*background image found @ https://unsplash.com/search/terrace?photo=nrSzRUWqmoI */
        background: cornflowerblue url("../assets/toa-heftiba-95456.jpg") no-repeat center;
        background-size: cover;
    }

    section:nth-child(2){
        background-color:blueviolet;
    }

    section:nth-child(3){
        background-color:lightpink;
    }

    section:nth-child(4){
        background-color: rosybrown;
    }

    h1, h2, svg text{
        color: white;
        height: 20px;
        line-height: 21px;
        font-size: 15px;
    }

    h1 {
        position: absolute;
        top: -20%;
    }

    section div{
        position:absolute;
        width: 100%;
        height: 300px;
        /*border: 0.5px solid #f7f7f7;*/
        box-sizing: border-box;
    }
    
    section div:first-child{
        top:50%;
    }

    section div:nth-child(2){
        top: 0;
    }

    .white {
        color: white;
    }

    .black {
        color:black;
    }

    .area{
        cursor: pointer;
    }

    span#median-map-placement:before{
        content: "above"
    }

    span#council-tax-bill{
        font-size: 40px;
        stroke: #f7f7f7;
        stroke-width: 0.7px;
    }

    select {
        background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
        font-size: 16px;
        background-color: white;
        border-radius: 0;
        border: #f7f7f7 solid 0.5px;
        color: black;
        -webkit-appearance: none;
    }

    select#selector1{
        width: 90px;
    }

    select#selector2{
        margin-left: 5px;
        width: 120px;
    }

@media screen and (min-aspect-ratio: 3/4) {
    section {
        height: 810px;
    }

    section div{
        position:absolute;
        width: 50%;
        height: 100%;
        /*border: 0.5px solid #f7f7f7;*/
        box-sizing: border-box;
        padding: 10px;
    }
    
    section div:first-child{
        top:0;
        left: 0;
    }

    section div:nth-child(2){
        left: 50%;
        top: 0;
    }

    h1 {
        top: 30%;
    }

    span#median-map-placement:before{
        content: "opposite"
    }

}